@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.heading {
    text-align: center;
    border-width: 1in;
    border-color: black;
}

.sbc {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#sbcbutton {
    border-color: gray;
    background-color: red;
    color: white;
}