@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

#spacebarCount {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#superMode {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#reset {
    top: 47%;
    left: 50%;
}

#goback {
    top: 50%;
    left: 50%;
}

button {
    background-color: solid white;
    border: 1px solid red;
    margin: 0;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    position: absolute;
    bottom: 0;
    left: 10;
}